<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>
  <h1 class="index-header my-5 pb-2">We found (<%= @flats.count %>) flats around you!</h1>
     <div class="row justify-content-center card-container">

    <% @flats.each do |flat| %>
        <div class="flat-card my-3 mx-3">


            <a href="<%= flat_path(flat) %>">
             <div class="img-container" style="background-image: url(<%= cl_image_path flat.photos.last.key, height: 400, width: 343, crop: :fill, alt:"Image of the flat booked" %>);"></div>
            </a>

          <div class="card-contents">
            <div class="my-card-header">
              <h3><%= link_to flat.title, flat_path(flat), class: "btn mt-2" %></h3>
              <%= link_to "♥", dashboards_path %>
            </div>

            <ul class="card-list">
              <div class="price-guests">
              <li class="my-2"><%= flat.capacity %> <%= flat.capacity == 1 ? "guest" : "guests" %> 👤</li>
              <li class="my-2">€ <%= flat.price %>/night</li>
              </div>
            </ul>


          </div>

        </div>
    <% end %>
    </div>
</div>
