<div class="container">
  <div class="row">
    <div class="col">
    </div>
  </div>


  <h1 class="index-header my-5 pb-2">We found (<%= @flats.count %>) <%= @flats.count == 1 ? "flat" : "flats" %> around you!</h1>
</div>
  <div class="row justify-content-center card-container">
    <% @flats.each_with_index do |flat, index| %>
    <div>
      <div class="flat-card my-3 mx-3" id="<%= flat.id %>">
        <div id="carouselExampleDark<%= index %>" class="carousel carousel-dark slide img-container">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="<%= cl_image_path flat.photos[0].key, alt:"Image of the flat booked" %>" class="d-block w-100 h-100 carouselHome" alt="house 1" data-interval="0">
            </div>
            <div class="carousel-item" >
              <img src="<%= cl_image_path flat.photos[1].key, alt:"Image of the flat booked" %>" class="d-block w-100 h-100 carouselHome" alt="house 2" data-interval="0">
            </div>
            <div class="carousel-item">
              <img src="<%= cl_image_path flat.photos[2].key, alt:"Image of the flat booked" %>" class="d-block w-100 h-100 carouselHome" alt="house 3" data-interval="0">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark<%= index %>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark<%= index %>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="card-contents">
        <div class="my-card-header">
              <h3><%= link_to flat.title, flat_path(flat), class: "btn mt-2", id: "title-index-card" %></h3>
<% if user_signed_in? %>
              <div data-favourites-target="favourite">
                <%= link_to "♥", flat_favorites_path(flat), method: :create, class: "grey #{@favorites.find_by(flat_id: flat).present? ? "d-none" : ""}", data: { controller: "favourite", action: "click->favourite#favourite" } %>
              </div> 
              <% if @favorites.find_by(flat_id: flat).present? %>
                <div data-favourites-target="favourite">
                  <%= link_to "♥",  flat_favorite_path(flat, @favorites.find_by(flat_id: flat).id), method: :delete, class: "#{ @favorites.find_by(flat_id: flat).favorite ? "red" : "grey" }", data: { controller: "favourite", action: "click->favourite#deleteFavourite" } %>
                </div> 
             <% end %>
<% else %>
<%= link_to "♥", dashboards_path, class: "grey" %>
<% end %>

            </div>
            <ul class="card-list">
              <div class="price-guests">

              <li class="my-2"><%= flat.capacity %> <%= flat.capacity == 1 ? "guest" : "guests" %> 👤</li>
              <li class="my-2">€ <%= flat.price %>/night</li>
            </div>
          </ul>

        </div>

      </div>
    </div>
    <% end %>
  </div>



<% @flats.each_with_index do |flat, index| %>

<% end %>
