<div class=container>

    <h1 class="booking_header my-5">List a flat</h1>
    <h4 class="booking_sub_header my-5">Become a host</h4>



    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">


<%= simple_form_for (@flat) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :images %>
    <%= f.input :address %>
    <%= f.input :capacity %>
    <%= f.input :price %>
    <%= f.input :kitchen %>
    <%= f.input :wifi %>
    <%= f.input :accept_pets %>
    <%= f.input :air_con %>
    <%= f.input :smoker_friendly %>
    <%= f.input :parking %>
    <%= f.input :pool_access %>
    <%= f.input :tv %>
    <%= f.input :washer %>
    <%= f.input :luggage_drop_off %>
    <%= f.input :balcony %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn", id: "btn-log-out" %>
  </div>
<% end %>


</div>
</div>
</div>
</div>
