<div class=container>

    <h1 class="booking_header my-5">List a flat</h1>
    <h4 class="booking_sub_header my-5">Become a host</h4>



    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">


<%= simple_form_for (@flat) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :images %>
    <%= f.input :address %>
    <%= f.input :capacity %>
    <%= f.input :price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn go-btn" %>
  </div>
<% end %>


</div>
</div>
</div>
</div>
