<div class="container">

              <div class="show-header">
              <div class="d-flex">
                <h1><%= @flat.title %></h1>
                </div>
                <div class="show-header-links">
                <a href='/flats/<%= params[:id] %>/edit' class="<%= @flat.user_id == current_user.id ? "" : "d-none" %>" id="pencil">✏️</a>
                <h3><%= link_to "📤", dashboards_path %></h3>
                <h3><%= link_to "♥", dashboards_path %></h3>
                </div>
              </div>

              <div class="show-images my-5">
              <div class="show-image-div" style="background-image: url(<%= @flat.images %>);"></div>

              <div class="show-grid">
                <div class="class-image-ingrid" style="background-image: url(<%= @flat.images %>);"></div>
                <div class="class-image-ingrid" style="background-image: url(<%= @flat.images %>);"></div>
                <div class="class-image-ingrid" style="background-image: url(<%= @flat.images %>);"></div>
                <div class="class-image-ingrid" style="background-image: url(<%= @flat.images %>);"></div>
              </div>
            </div>

<div class="show-info">
          <div class="show-contents">
            <div class="my-show-header my-3">
            </div>

            <ul class="show-list">
              <li class="my-2 head"><%= @flat.capacity %> <%= @flat.capacity == 1 ? "guest" : "guests" %> 👤</li>
              <div class="show-price-guests">
              <li class="my-2">Descrption: <%= @flat.description %></li>
              <li class="my-2">Address: <%= @flat.address %></li>
              <li class="my-2">€ <%= @flat.price %>/night</li>
              </div>
            </ul>

            <div class="booking-card">
              <ul class="booking-list">
              <div class="price-calc">
                <li>$52 x 7 nights</li>
                <li>$364</li>
              </div>
              <div class="price-comission">
                <li>Comision</li>
                <li>$62</li>
              </div>
              <div class="total">
                <li>Total</li>
                <li>$426</li>
              </div>
              </ul>
              <%= link_to "Book now!", new_flat_booking_path(@flat), class:"btn center go-btn" %>
            </div>
        </div>
        <div></div>
          <div class="flat-features">
          <h6>What this place offers:</h6>
            <div> <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/kitchen-1447827-1224041.png" alt="" style="width: 26px;">  <span class="default"> - Kitchen Facilities</span> </div>
            <div><%= icon('fa', 'wifi') %>  <span class="default" >- Wifi</span></div>
            <div> <img src="https://w7.pngwing.com/pngs/363/123/png-transparent-car-park-computer-icons-parking-garage-hotel-parking-angle-room-parking.png" alt="" style="    width: 28px;
    height: 19px">  <span> - Parking</span></div>
            <div><%= icon('fa', 'smoking') %> <span class="default"> - Smoking Friendly</span> </div>
            <div><%= icon('fa', 'dog') %> <span class="default"> - Pet Friendly</span></div>
            <div><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/snow-1840405-1559531.png" alt="" style="
    width: 24px;"> <span class="default"> - Air-Conditioning</span></div>
            </div>
</div>

<div class="row">
<div class="col-2"></div>
<div class="col-8" style="width: ; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="col-2"></div>
</div>
</div>


</div>
