<div class="container">
  <h1 class="booking_header my-5">Your Booking:</h1>
<div class="flat-card my-3 mx-3">
  <img class="class-image" src="<%= @booking.flat.images %>"/>
          </div>
          <h4>Your booking:</h4>
          <div class="card-contents">
            <h3><%= @booking.flat.title %></h3>
            <ul class="card-list">
              <li><strong>Start Date </strong>- <%= @booking.start_date %></li>
              <li><strong>End Date</strong> - <%= @booking.end_date %></li>
              <li><strong>Guests</strong> - <%= @booking.flat.capacity %> </li>
            </ul>
          </div>
<%= link_to "Go back to the dashboard", dashboards_path %>
        </div>
</div>
