
<div class="container">
              <div class="show-header">
                <h1><%= @booking.flat.title %></h1>
                <div class="show-header-links">
                <h3><%= link_to "📤", dashboards_path %></h3>
                <h3><%= link_to "♥", dashboards_path %></h3>
                </div>
              </div>

              <div class="show-images my-5">
              <div class="show-image-div" style="background-image: url(<%= @booking.flat.images %>);"></div>

              <div class="show-grid">
                <div class="class-image-ingrid" style="background-image: url(<%= @booking.flat.images %>);"></div>
                <div class="class-image-ingrid" style="background-image: url(<%= @booking.flat.images %>);"></div>
                <div class="class-image-ingrid" style="background-image: url(<%= @booking.flat.images %>);"></div>
                <div class="class-image-ingrid" style="background-image: url(<%= @booking.flat.images %>);"></div>
              </div>
            </div>
          <div class="show-contents">
            <div class="my-show-header my-3">
            </div>

            <ul class="card-list">
            <h2>Booking
            <% if @booking.status == "Approved" %>
            <%= @booking.status %>
            <% elsif @booking.status == "Declined"%>
            <%= @booking.status %>
            <%  else %>
            <%= "Pending" %>
            <% end %>
            </h2>
              <li class="my-2"><%= @booking.flat.capacity %> <%= @booking.flat.capacity == 1 ? "guest" : "guests" %> 👤</li>
              <div class="price-guests">
              <li class="my-2">Descrption: <%= @booking.flat.description %></li>
              <li class="my-2">Address: <%= @booking.flat.address %></li>
              <li class="my-2">€ <%= @booking.flat.price %>/night</li>
              </div>
            </ul>
        </div>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-8" style="width: ; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  <div class="col-2"></div>
</div>
</div>
