<div class="container">
  <h1 class="booking_header my-5">Your Booking:</h1>



</div>


<div class="flat-card my-3 mx-3">
 <img class="class-image" src="<%= @booking.flat.images %>"/>
          </div>
          <div class="card-contents">
            <h3><%= @booking.flat.title %></h3>
            <ul class="card-list">
              <li>Your booking dates:</li>
              <li><%= @booking.start_date %></li>
              <li><%= @booking.flat.capacity %> </li>
            </ul>
          </div>
<%= link_to "Go back to the dashboard", dashboard_index_path %>
        </div>
