<!DOCTYPE html>
<html>
  <head>
    <title>RailsAirbnbWeek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <div class="navbar mb-5">
      <h2 id="logo" class="btn">
      <a href="/"><img src="https://w7.pngwing.com/pngs/196/980/png-transparent-airbnb-logo-coupon-privately-held-company-airbnb-logo-text-trademark-service.png" alt="" style="height: 48px; margin-left: 29px;"></a></h2>
      <div id="left-cluster-navbar">
      <%= link_to "Become a host",  new_flat_path, class:"btn", id: "host-btn" %>
      <ul>
       <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Profile", dashboards_path, class: "dropdown-item" %>
                 <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", method: "delete" %>
            </div>
          </li>
        <% else %>
        <div class="sign-in">
            <%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %>
            <%= link_to "Register", new_user_registration_path, class: "dropdown-item" %>
        </div>
        <% end %>
      </ul>
      </div>
    </div>
   <div class="yield-container">
          <%= yield %>
    </div>


    <div class="footer mt-5">
      <h2 id="foot-logo" class="btn"><%= link_to "ðŸ˜ï¸", home_path %></h2>
    </div>

  </body>
</html>
