<!DOCTYPE html>
<html>
  <head>
    <title>RailsAirbnbWeek</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar mb-5">
      <h2 id="logo" class="btn"><%= link_to "AirBnB", flats_path %></h2>

      <ul>
        <li><%= link_to "👤", dashboards_path %></li>
      </ul>
    </div>

      <%= yield %>
  </body>
</html>
